.button {
    background: #4A96FF;
    height: 43px;
    border-radius: 4px;
    width: 100%;
    border:none;
}
.buttonDisabled {
    opacity: 0.5;
}

.buttonText {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: left;
    color: #FFFFFF;
}