.inputBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 16px 0px;
}

.label {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: left;
    color: #C5C7CA;

}

.inputWrapper {
    width: 100%;
    display: flex;
    border: 1.5px solid #35373B;
    border-radius: 4px ;
}

.input {
    border: 0px;
    height: 43px;
    width: 100%;
    background: #27292D;
    border-radius: 4px ;
    padding: 12px;
    outline: none;
}

.input::placeholder {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    color: #7F8084;
}

.eyeIcon {
    margin-right: 12px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.icon{
    vertical-align: middle;
}